#chat-page{
    margin-top: 5rem;
}

#usersColBox{
    border: 1px solid #ccc;
    height:80vh;
    border-radius: 5px;
    margin-left: 50px!important;
    padding:0;
}

#chatColBox{
    border: 1px solid #ccc;
    height:80vh;
    border-radius: 5px;
    margin-left: 0;
    margin-right:40px;
    padding:0;
    width:150%;
    
}
#profileCardBox{
    border-bottom: 1px solid #ccc!important;
    margin-top: 2rem;
    text-align: center;
    width:109%;
    margin-left:-40px!important;
}

#stupidC{
    list-style-type: none;
    text-decoration: none !important;
}
#stupidC2{
    list-style-type: none;
    text-decoration: none !important;
}

#centeredMessageButton{
   
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50% !important;
    margin-top: 50%;
}
#stupidButton{
     z-index: 500;
}

 #chatForm{
    position: absolute;
    top: 95%;
    left: 2%;
    width: 146% !important;;
    border-radius: 30px!important;
    
 }
 #inputForm{
     width:90%;
     height: 40px!important;
     border-radius: 30px!important;
     border: 1.5px solid #ccc;
 }
 #inputForm:focus{
    outline: none;
 }

 #chattingWith{
    position: absolute;
    top: 2%;
    left: 50%;
    font-weight: 900;
 }

 #chatBody{
   height: 83%;
   overflow-y: scroll;
   position: absolute;
   top: 10%;
   width:145%;
 }