.ViewComments{
    background-color: inherit;
    border: none;
    color: gray;
}
.ViewComments:focus{
    outline: none;
}
.ViewComments:hover{
    cursor: pointer;
}
.modalimg{
    width: 40rem !important;
    height: 40rem !important;
}
.dateOfComment{
    font-size: 10px;
    margin-left: 70px;
    margin-top: -30px;
}

.commentInModal .list-group-item{
    background-color: inherit;
    border: 0px solid #fafafa !important;
    border-color: none !important;
    display:flex !important; 
    font-size: 13px;
}
.commentInModal .commentList .list-group-item{
    margin-top: -10px;

}
.commentList{
    width: auto;
    overflow: scroll;
    height: 26rem;
}
.commentSection{
    margin-left: 5px;
}
.commentList::-webkit-scrollbar{
    width: 0 !important;
}
.commentAction{
    width: 24rem;
}
.commentAction .MuiCardActions-root{
    border-top: 1px rgb(238, 238, 238) solid;
}
.commentAction .MuiCardActions-root .MuiButtonBase-root{
    padding: 5px !important;
}
.commModal{
    width: 25rem;
}
.likedLength{
    margin-bottom: -4px !important;
}